.list-group-item {
	
}
.span-text {
	position: relative;
	top: 25px;
}
.company-image {
	position: relative;
	top: 25px;
	width:35px;
	 height:35px;
}
#udemy-image {
	width:55px;
	 height:55px;
	 position: relative;
	top: 25px;
}
.learning-button {
	position: relative;
	bottom: 12px;
}
.nav-bar-item {
	
}
#moon-ground {
	background-image: url("http://downloads.nuiverse.com/images%5C20120110_225235.jpg");
}
#grid-element {

}
body {
	height:100%;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/35/The_Sun_in_extreme_ultraviolet.jpg") no-repeat center center;
	background-size: cover ;
}